{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BCCM Advisors | The Africa Strategy</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
  
  <!-- Favicons -->
  <link href="{% static 'website/img/africafund/bccmlogo.png' %}" rel="icon">
  <link href="{% static 'website/img/africafund/bccmlogo.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
  <!-- Vendor CSS Files -->
  <link href="{% static 'website/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'website/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'website/css/afro-style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="africafund.html">The Africa Strategy</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="home.html">Home</a></li>
          <li><a href="#purpose">Our Purpose</a></li>
          <li><a href="#passion">Our Passion</a></li>
          <li><a href="#philosophy">Our Philosophy</a></li>
          <li><a href="#didyouknow">Did You Know</a></li>
          <li><a href="#team">Team</a></li>

          <li><a href="#contact">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h2> 
        Our process begins with the simple question: 
        <br>
        Is this a consumer or technology focused business that either directly or indirectly exponentially enriches the lives of Africans? </h2>
        <br>
        <a href="#purpose" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Banner Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="row d-flex align-items-center">
          <!--  THIS IS A SMALL BANNER AND YOU CAN ADD IMAGES AS SHOWN BELOW
          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'website/img/clients/client-1.png' %}" class="img-fluid" alt="">
          </div>
          -->
          <div>
              <br>
          </div>
        </div>

      </div>
    </section><!-- End Banner Section -->

    <!-- ======= Our Purpose Section ======= -->
    <section id="purpose" class="purpose">
      <div class="container">
        
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="{% static 'website/img/africafund/elephant-crop.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>Our Purpose</h3>
            <p class="font-italic">
                Our Pan-Africa long-bias strategy offers an opportunity to invest alongside us as we seek to benefit from Africa’s emerging middle class and its rapid growth in internet penetration.
                <br>
                <br>
                The strategy invests in publicly listed and late-stage consumer and technology-enabled businesses that exponentially enrich the lives of Africans, directly or otherwise. 
              <!-- more text here if needed -->
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Our Purpose Section -->

    <!-- ======= Our Passion Section ======= -->
    <section id="passion" class="passion">
      <div class="container">
        
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-1" data-aos="fade-left">
            <img src="{% static 'website/img/africafund/baobab-tree.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-2 content" data-aos="fade-right">
            <h3>Our Passion</h3>
            <p class="font-italic">
              Our lives are dedicated toward the elimination of extreme poverty in Africa.
              <br>
              <br>
              To achieve this goal, we seek to strengthen the breadth and depth of Africa’s capital markets. 
              <br>
              <br>
              Consequently, we intentionally invest in enterprises embracing technology to raise living standards by supporting job creation, increasing financial inclusion, improving standards of education and healthcare, transforming agricultural value chains, strengthening government efficacy, and providing consumer goods and services.
              <br>
              <br>
              Put simply, we belive in doing good through capitalism.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Our Philosophy Section -->

    <!-- ======= Our Philosophy Section ======= -->
    <section id="philosophy" class="philosophy">
      <div class="container">
        
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-2" data-aos="fade-left">
            <img src="{% static 'website/img/africafund/lollapalooza-fred.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-1 order-lg-1 content" data-aos="fade-right">
            <h3>Our Investment Philosophy</h3>
            <p class="font-italic">
              We believe African consumer and technology-focused companies offer a compelling investment opportunity due to a unique confluence of three pillars:
            </p>
            <p>
              <ol type="I">
                <li class="font-italic">A dramatically improved Regulatory and Business Environment that is promoting creative destruction and unleashing humankind’s entrepreneurial spirit.<br></li>
                <li class="font-italic">An Emerging Middle Class supported by Education, Industrialization, Demographics and Urbanization.<br></li>
                <li class="font-italic">A Lollapalooza Effect propelled by mobile phone penetration and rising internet use which are driving digital innovation in Agtech, Edtech, Fintech, Healthcare, Enterprise Software, Retail and Government.<br><br></li>
              </ol>
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Our Philosophy Section -->

    <!-- ======= Highlights Section ======= -->
    <section id="highlights" class="highlights">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
            <div class="box">
              <h4>Our Investment in Paga</h4>
                <p class="font-italic">Our Direct Investment in Paga  is helping expand financial inclusion in Nigeria. Learn more <a href="https://www.mypaga.com/" target="blank">here</a>.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
            <div class="box">
              <h4>Recommendation To Policymakers</h4>
                <p class="font-italic">
                  Read our recommendation to policymakers on share repurchase regulations in Kenya <a href="{% static 'website/pdfs/recommendations.pdf' %}" target="blank">here</a>.
                </p>
            </div>
          </div>

          <div class="col-lg-4" data-aos="fade-up">
            <div class="box">
              <h4>Interview with MOI Global</h4>
                <p class="font-italic">
                  Listen to Fred Steiner’s interview with John Mihaljevic and MOI Global sponsored by The Zurich Project <a href=" https://moiglobal.com/zppod-fred-steiner-2020/" target="_blank">here</a>.
                </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Highlights Section -->

    <!-- ======= Banner Section ======= -->
    <section id="clients" class="clients">    
      <div class="container" data-aos="zoom-in">
        <div class="row d-flex align-items-center">
          <h4>        Businesses and Causes We Support:        </h4>
          <a href="https://www.mypaga.com/" target="blank">
            <img src="{% static 'website/img/africafund/paga-logo-small.png' %}" class="img-fluid" alt="" width="100" height="50">
          </a>
          <a href="https://www.awf.org/" target="blank">
            <img src="{% static 'website/img/africafund/african-wildlife-foundation.png' %}" class="img-fluid" alt="" width="100" height="50">
          </a>
          <a href="https://www.booksforafrica.org/" target="blank">
            <img src="{% static 'website/img/africafund/books-for-africa.png' %}" class="img-fluid" alt="" width="100" height="50">
          </a>
        </div>
      </div>
      
    </section>
    <!-- End Banner Section -->

    <!-- ======= Did you know? Section ======= -->
    <section id="didyouknow" class="didyouknow">
      <div class="container">

        <div class="section-title">
          <span>Did You Know?</span>
          <h2>Did You Know?</h2>
          <p class="font-italic">Here are a few facts on the continent</p>
        </div>
        
        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-building"></i></div>
              <h4>High-growth Cities</h4>
              <p class="font-italic">Africa has 86 of the 100 world’s fastest  growing cities<a href="https://qz.com/africa/1486093/africas-fast-growing-cities-face-extreme-climate-change-risk/" target="_blank"><sup>1</sup></a>, has as many 1 million+ people cities as Europe<a href="https://www.un.org/en/events/citiesday/assets/pdf/the_worlds_cities_in_2018_data_booklet.pdf" target="_blank"><sup>2</sup></a> and is home to the world’s fastest growing middle-class<a href="https://www.afdb.org/fileadmin/uploads/afdb/Documents/Publications/Tracking_Africa%E2%80%99s_Progress_in_Figures.pdf" target="_blank"><sup>3</sup></a></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-face"></i></div>
              <h4>A Young, Vibrant Population</h4>
              <p class="font-italic">60% of Africa’s population is under 25, the median age is 19 and the working-age population is expected to surpass both India and China by 2034<a href="https://www.mckinsey.com/industries/consumer-packaged-goods/our-insights/lions-still-on-the-move-growth-in-africas-consumer-sector" target="_blank"><sup>4</sup></a></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-group"></i></div>
              <h4>Massive Urban Migration</h4>
              <p class="font-italic">Between 2018-2025, 190 million Africans  will relocate to urban centers where per  capita consumption is 79% greater<a href="https://www.mckinsey.com/industries/consumer-packaged-goods/our-insights/lions-still-on-the-move-growth-in-africas-consumer-sector" target="_blank"><sup>5</sup></a></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="450">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-line-chart"></i></div>
              <h4>High Population Growth</h4>
              <p class="font-italic">Today, there are ~1.25 billion Africans. By 2050, that number is projected to  increase to over 2 billion</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="600">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-mobile-alt"></i></div>
              <h4>Digital Innovation</h4>
              <p class="font-italic">With hundreds of millions of young, tech-savvy Africans adopting mobile handsets, Africa is leap-frogging traditional industries with novel digital products and services</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="750">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-wifi-2"></i></div>
              <h4>Growing Internet Penetration</h4>
              <p class="font-italic">Internet penetration stands at 39% with the number of internet users in Africa growing by 40 million to 566 million as at end of 2019, up from 111 million in 2010<a href="https://www.internetworldstats.com/stats1.htm" target="_blank"><sup>6</sup></a></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Did You Know? Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Fundamental Investors</h3>
          <p class="font-italic"> We employ traditional scuttlebutt research and fundamental analysis to discover and invest in business models built on a strong moat.</p>
          <!-- button
            <a class="cta-btn" href="#">Call To Action</a>  
          -->
        </div>

      </div>
    </section><!-- End Cta Section -->
   
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <span>Meet The Team</span>
          <h2>Meet The Investment Team</h2>

        </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
              <div class="member">
                <img src="{% static 'website/img/team/evansmugi.png' %}" alt="">
                <h4>Evans Mugi, CAIA</h4>
                <span>Director, BCCM Advisors (Kenya) Limited</span>
                <p>
                  Evans serves as the Managing Director of BCCM Advisors Kenya, and supports Fred Steiner in research, security selection, portfolio construction and business development.
                  <br>
                  Prior to joining BCCM Advisors, Evans was the head of the investment team at Nabo Capital (the Public Markets arm of Centum Investment Company Kenya), and was responsible for the firm’s investment activities; including capital allocation and risk management — leading a team of associates and analysts. 
                  <br>
                  From 2015 until he became the investment manager in 2017, Evans was a portfolio manager overseeing a diversified portfolio of equity and fixed income investments made in several markets across Africa. 
                  <br> 
                  From 2012 to 2015, Evans was an analyst and later an associate at Centum Investment Company (Kenya), responsible for researching and executing investments in North and West Africa. 
                  <br> 
                  Prior to joining Centum, Evans worked in the research department of Genghis Capital from 2011 to 2015 as a fixed income analyst and cross-asset strategist. Evans is a graduate of the University of Nairobi (2009) and also holds the Chartered Alternative Investment Analyst designation.
                  <br>
                </p>
                <div class="social">
                  <a href="https://www.linkedin.com/in/evans-mugi-07541831/" target="_blank"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
              <div class="member">
                <img src="{% static 'website/img/minneapolis/fred-steiner.jpg' %}" alt="">
                <h4>Fred Steiner, CFA</h4>
                <span>Portfolio Manager</span>
                <p>
                  Fred Steiner is responsible for security selection, risk management and portfolio construction for our Pan-Africa strategy. 
                  Prior to re-joining BCCM Advisors, Fred earned an MBA from the Carlson School of Management at University of Minnesota where he graduated with distinction and was a Curtis L Carlson Scholarship recipient. 
                  During the full-time business school program, Fred worked with a multi-family office, Sawmill Management as a Senior Analyst. 
                  There he oversaw approximately $1 billion in public securities. 
                  Prior to business school, Fred served as an Analyst and Associate at BCCM and worked in various roles at Signature Financial Partners. 
                  Fred studied at University of Cape Town in 2008, graduated from Union College in 2009 with a Bachelor’s degree in Economics and Minor in History and is a CFA charterholder. 
                  Fred is engaged in various charities and previously volunteered for Soccer 4 Hope while living in Cape Town, South Africa in 2010. 
                </p>
                <div class="social">
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
              <div class="member">
                <img src="{% static 'website/img/minneapolis/manit-rye.jpg' %}" alt="">
                <h4>Manit Rye</h4>
                <span>Risk Management Strategist</span>
                <p>
                  Manit Rye is responsible for risk management. 
                  Manit has more than 30 years’ experience in structuring and trading yield enhancement and hedging strategies on equities, interest rates, and currencies. 
                  Prior to joining Air T, Inc., Manit was CIO and founder of Asymmetric Capital Management and Thomas Funds Americas LLC and was Managing Director and board member of Merrill Lynch Alternative Investments Inc., where as CO-CIO he focused on investing $10 billion in hedge funds and managed accounts. 
                  Prior to Merrill, Manit held senior roles in emerging market risk management at UBS O’Connor, Goldman Sachs and Citi Bank. 
                  Manit earned a Bachelors of Commerce from Dehli University and holds a Masters in Finance from Claremont Graduate School and UC Berkeley.
                </p>
                <div class="social">
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
              <div class="member">
                <img src="{% static 'website/img/minneapolis/' %}" alt="">
                <h4>Prashant Joshi</h4>
                <span>Trading and Risk Analyst</span>
                <p>
                  Prashant is responsible for performing risk management, trade execution, and portfolio construction as well as managing middle office and marketing operations for the BCCM Advisors’ family of portfolios.  
                  Prashant began working with BCCM Advisors in 2018. 
                  Prior to joining the hedge fund industry, Prashant has had experience working in venture capital due diligence and revenue recognition with Applied Materials and Riverbed Technologies in the Silicon Valley.
                  Prashant earned B.S. in Applied Economics and Business Management from the University of Minnesota
                </p>
                <div class="social">
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <span>Contact Us</span>
          <h2>Contact Us</h2>
          <p>Get in touch with us.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-3">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <p>
                <br>
                <strong>BCCM Advisors (Kenya) Limited</strong>
                <br>
                Landmark Plaza, 13th Floor, Suite 23
                <br>
                Argwings Kodhek Road
                <br>
                PO Box 856 00606
                <br>
                Nairobi, Kenya
                <br><br>
                <a href="mailto:info@bccmadvisors.com">info@bccmadvisors.com</a>
                <br>
                +254 20 3673592
                <br><br><br><br>
              </p>
            </div>
          </div>

          <!-- Google Map -->
          <div class="col-lg-9 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7996165562463!2d36.80321131505572!3d-1.2947748990556285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f10c03accf0e9%3A0x1a3862bfb0782d34!2sLandmark%20Plaza%2C%20Argwings%20Kodhek%20Rd%2C%20Nairobi%2C%20Kenya!5e0!3m2!1sen!2sus!4v1607261446842!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-3">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <p>
                <br>
                <strong>Minneapolis Office</strong>
                <br>
                BCCM Advisors
                <br>
                5000 West 36th Street, Suite 200
                <br>
                St. Louis Park, MN 55416
                <br>
                USA
                <br><br>
                <a href="mailto:info@bccmadvisors.com">info@bccmadvisors.com</a>
                <br>
                +1 (612) 200-1740
                <br><br>
                <br>
                <br>
              </p>
            </div>
          </div>

          <div class="col-lg-9 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5648.537314428667!2d-93.3427731265288!3d44.93820620488582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87f620b395d9db31%3A0xdc22ea05aee54147!2s5000%20W%2036th%20St%20%23200%2C%20Minneapolis%2C%20MN%2055416!5e0!3m2!1sen!2sus!4v1607435846879!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>
        </div>
    </section><!-- End Contact Section -->

    <section id="clients" class="clients">
      <div class="text-center">
        <h4>Service Providers</h4>
        <br>
      </div>
      
      <div class="container" data-aos="zoom-in">
        <div class="row d-flex align-items-right">
          <a href="" target="blank">
            <img src="{% static 'website/img/africafund/goldman-sachs.png' %}" class="img-fluid" alt="" width="100" height="50">
          </a>
          <a href="" target="blank">
            <img src="{% static 'website/img/africafund/bloomberg.png' %}" class="img-fluid" alt="" width="100" height="50">
          </a>    
          <a href="" target="blank">
            <img src="{% static 'website/img/africafund/ey.png' %}" class="img-fluid" alt="" width="100" height="50">
          </a>
          <a href="" target="blank">
            <img src="{% static 'website/img/africafund/foley.png' %}" class="img-fluid" alt="" width="100" height="50">
          </a>
          <a href="" target="blank">
            <img src="{% static 'website/img/africafund/group.png' %}" class="img-fluid" alt="" width="100" height="50">
          </a>
          <a href="" target="blank">
            <img src="{% static 'website/img/africafund/investec.png' %}" class="img-fluid" alt="" width="100" height="50">
          </a>
          <a href="" target="blank">
            <img src="{% static 'website/img/africafund/nirvanapng' %}" class="img-fluid" alt="" width="100" height="50">
          </a>
          <a href="" target="blank">
            <img src="{% static 'website/img/africafund/seward-and-kissel.png' %}" class="img-fluid" alt="" width="100" height="50">
          </a>
          <a href="" target="blank">
            <img src="{% static 'website/img/africafund/standard-bank.png' %}" class="img-fluid" alt="" width="100" height="50">
          </a>
          <a href="" target="blank">
            <img src="{% static 'website/img/africafund/werksmans.png' %}" class="img-fluid" alt="" width="100" height="50">
          </a>
        </div>
      </div>
      </p>
    </section>

    <p>
      <br>
    </p>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span><a href="home.html">BCCM Advisors</a></span></strong>. All Rights Reserved 
        <br>
        <br>
      </div>
      <div class="terms-and-privacy-notice">
          <a href="afro-terms.html" target="_blank">Terms and Privacy Notice</a>
      </div>
      
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <div id="preloader"></div>
  
  <!-- Vendor JS Files -->
  <script src="{% static 'website/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'website/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'website/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'website/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'website/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'website/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'website/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'website/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'website/js/main.js' %}"></script>

</body>

</html>