{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BCCM Advisors</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
  
  <!-- Favicons -->
  <link href="{% static 'website/img/bccm-small-logo.png' %}" rel="icon">
  <link href="{% static 'website/img/bccm-small-logo.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="{% static 'website/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'website/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
<link href="{% static 'website/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
<link href="{% static 'website/vendor/venobox/venobox.css' %}" rel="stylesheet">
<link href="{% static 'website/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'website/vendor/aos/aos.css' %}" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="{% static 'website/css/mn-style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Top Bar ======= 
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top ">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:contact@example.com">info@bccmadvisors.com</a>
        <i class="icofont-phone"></i> (612) 200-1740
      </div>
      <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>
    </div>
  </div>
  -->

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="home.html"><img src="{% static 'website/img/minneapolis/bccm-logo.png' %}" class="img-fluid" alt=""></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#team">Who We Are</a></li>
          <li class="drop-down"><a href="">Funds</a>
            <ul>
              <li><a href="africafund.html">The Africa Fund</a></li>
              <li><a href="smcap.html">The Small-Mid Cap Fund</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1></h1>
      <h2>Uncovering High Alpha Potential Opportunities in Less Efficient and Niche Markets</h2>
      <a href="#about" class="btn-get-started scrollto">About Us</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="zoom-in">
          <!--div class="row  align-items-center"-->

        <div class="row d-flex">
          <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>About Us</h3>
            <p class="font-italic">
              BCCM Advisors is an alternative asset manager experienced in identifying fundamentally attractive investments. 
              At our core exists a long-tenured investment team focused on uncovering these niche opportunities. 
              Our public company ownership provides strategic leveraging of our deep experience and operational stability, coupled with our first class service providers, in support of our asset management model.
              <br>
              At BCCM Advisors, we uncover high alpha potential opportunities in less efficient and niche markets for our family of private investment funds.
              <br><br><br>
            </p>  
          </div>
        </div>

      </div>

      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-right">
            <img src="{% static 'website/img/minneapolis/minneapolis-street-portrait.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>History</h3>
            <p class="font-italic">
              Blue Clay Capital Management, LLC was founded in 2012 as a continuation of the fundamentally-focused small and mid-cap strategy the team employed at Whitebox Advisors. 
              Late in 2017, Blue Clay’s investment management business was acquired by Air T, Inc., and re-named BCCM Advisors, LLC. Air T, Inc. is a publicly-traded firm on the NASDAQ market led by seasoned investor Nick Swenson, its Chairman and CEO.
              <br>
            </p>
            <h3>Experience That Counts</h3>
            <p class="font-italic">
              Our Chief Investment Officer Gary Kohler has successfully identified winning investments over his more than 30 years navigating the markets for attractive opportunities to commit capital. 
              Gary’s experience as a first-rate investor has been honed and sharpened while managing our alternative and long-only portfolios, to managing family office assets at Okabena & Company and hedge fund assets at Whitebox Advisors. 
              Much of Gary’s career has been focused on the small-cap equity markets covering many business cycles in addition to having served on the board of multiple companies.
              <br>
            </p>
            <h3>Fundamental Investors</h3>
            <p class="font-italic">
              Our investment theses are based on long-term business fundamentals and not the “quarter.” 
              Through fundamental valuation analysis we discover companies where the markets have mispriced underlying returns on capital, cash flows or growth opportunities. 
              We apply our fundamental approach to the small- and mid- cap universe where we find greater market inefficiencies and more undiscovered opportunities.
              <br>
            </p class="font-italic">
            <h3>Focus on Capital Preservation</h3>
            <p class="font-italic">
              We seek to generate equity returns while at the same time preserving capital. 
              A focus on capital preservation drives portfolio construction and individual position decisions, including proprietary systematic option and volatility overlays used to inform overall direction and exposures for certain hedged strategies.
              <br>
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up">
            <div class="box">
              <span> 1</span>
              <h4>Highlights</h4>
              <p>Uncovering High Alpha Potential Opportunities
                in Less Efficient and Niche Markets</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
            <div class="box">
              <span> 2</span>
              <h4>Highlights</h4>
              <p>Uncovering High Alpha Potential Opportunities
                in Less Efficient and Niche Markets</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <span> 3</span>
              <h4>Highlights</h4>
              <p>Uncovering High Alpha Potential Opportunities
                in Less Efficient and Niche Markets</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Service Providers</h3>
          <p>
            We are supported by first-class independent service providers including: Ernst & Young, Goldman Sachs, Apex Fund Services, Nirvana Financial Solutions, Bloomberg, Seward & Kissel, Maples and Calder, and Foley & Lardner.</p>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <span>Meet The Team</span>
          <h2>Meet The Team</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'website/img/minneapolis/nick-swenson.jpg' %}" alt="">
              <h4>Nick Swenson</h4>
              <span>
                Chairman of BCCM Advisors 
                <br>
                President and CEO of Air T, Inc.
              </span>
              <p>
                Nick Swenson provides governance oversight of the vision, growth and development of our asset management platform. 
                Nick is an awarded, seasoned investor, and is currently the Chairman and CEO of our parent, Air T, Inc. following his successful tenure managing credit and distressed focused funds at Whitebox Advisors and Varde Partners. 
                Nick is a regular contributor to financial press, including Business Week, The New York Times, and Bloomberg. 
                His efforts while at Whitebox Advisors were referenced in Michael Lewis’ book “The Big Short” as one of the few managers to correctly navigate the subprime trade market. 
                In 2007, Nick earned award-winning recognition from HFM Week. 
                Nick earned an M.B.A. in Finance from the University of Chicago and a B.A., Magna Cum Laude, Phi Beta Kappa, in History from Middlebury College.
              </p>
              <div class="social">
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'website/img/minneapolis/michael-yee.jpg' %}" alt="">
              <h4>Michael Yee</h4>
              <span>Chief Operating Officer</span>
              <p>
                Michael Yee oversees the investment operations of BCCM Advisors and has 20+ years of experience in finance and accounting.  
                Currently, he manages the day-to-day operations of the management company, middle office and back office duties, treasury functions, accounting and financial reporting, vendor relationships, and investor relations. 
                Prior to joining BCCM in 2014, Michael served as Fund Controller of Aerwulf Asset Management and Interlachen Capital Group LP. 
                Before working in the hedge fund industry he worked for Travelers Insurance as a Senior Financial Consultant in the Investment Accounting department. 
                Michael has Bachelor’s degree in Accounting from the University of St. Thomas. 
              </p>
              <div class="social">
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'website/img/minneapolis/gary-kohler.jpg' %}" alt="">
              <h4>Gary Kohler</h4>
              <span>Chief Investment Officer and Portfolio Manager</span>
              <p>
                Gary Kohler is chiefly responsible for executing the investment strategy for BCCM Advisors’ investment portfolios. 
                Gary has more than 30 years of investment experience managing both family office and hedge fund assets. 
                Before founding Blue Clay in 2012, Gary was a Partner and Portfolio Manager at Whitebox Advisors and a Vice President and Portfolio Manager at Okabena Company. 
                In 2007, Gary has twice been recognized for outstanding performance winning the HFM Week Absolute Return Small-Cap Equity Fund of the Year in 2007 and being a finalist for the HFM US Equity Hedge Fund Performance Award in 2018. 
                Gary earned an MBA from the Johnson School at Cornell University and a BA in Psychology from the University of Minnesota.
              </p>
              <div class="social">
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'website/img/minneapolis/fred-steiner.jpg' %}" alt="">
              <h4>Fred Steiner, CFA</h4>
              <span>Portfolio Manager</span>
              <p>
                Fred Steiner is responsible for security selection, risk management and portfolio construction for our Pan-Africa strategy. 
                Prior to re-joining BCCM Advisors, Fred earned an MBA from the Carlson School of Management at University of Minnesota where he graduated with distinction and was a Curtis L Carlson Scholarship recipient. 
                During the full-time business school program, Fred worked with a multi-family office, Sawmill Management as a Senior Analyst. 
                There he oversaw approximately $1 billion in public securities. 
                Prior to business school, Fred served as an Analyst and Associate at BCCM and worked in various roles at Signature Financial Partners. 
                Fred studied at University of Cape Town in 2008, graduated from Union College in 2009 with a Bachelor’s degree in Economics and Minor in History and is a CFA charterholder. 
                Fred is engaged in various charities and previously volunteered for Soccer 4 Hope while living in Cape Town, South Africa in 2010. 
              </p>
              <div class="social">
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'website/img/evans-mugi.png' %}" alt="">
              <h4>Evans Mugi, CAIA</h4>
              <span>Director of BCCM Advisors (Kenya) Limited</span>
              <p>
                Evans serves as the Managing Director of BCCM Advisors Kenya, and supports Fred Steiner in research, security selection, portfolio construction and business development. 
                Prior to joining BCCM Advisors, Evans was the head of the investment team at Nabo Capital (the Public Markets arm of Centum Investment Company Kenya), and was responsible for the firm’s investment activities; including capital allocation and risk management — leading a team of associates and analysts. 
                From 2015 until he became the investment manager in 2017, Evans was a portfolio manager overseeing a diversified portfolio of equity and fixed income investments made in several markets across Africa. 
                From 2012 to 2015, Evans was an analyst and later an associate at Centum Investment Company (Kenya), responsible for researching and executing investments in North and West Africa. 
                Prior to joining Centum, Evans worked in the research department of Genghis Capital from 2011 to 2015 as a fixed income analyst and cross-asset strategist. 
                Evans is a graduate of the University of Nairobi (2009) and also holds the Chartered Alternative Investment Analyst designation. 
              </p>
              <div class="social">
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'website/img/minneapolis/manit-rye.jpg' %}" alt="">
              <h4>Manit Rye</h4>
              <span>Risk Management Strategist</span>
              <p>
                Manit Rye is responsible for risk management. 
                Manit has more than 30 years’ experience in structuring and trading yield enhancement and hedging strategies on equities, interest rates, and currencies. 
                Prior to joining Air T, Inc., Manit was CIO and founder of Asymmetric Capital Management and Thomas Funds Americas LLC and was Managing Director and board member of Merrill Lynch Alternative Investments Inc., where as CO-CIO he focused on investing $10 billion in hedge funds and managed accounts. 
                Prior to Merrill, Manit held senior roles in emerging market risk management at UBS O’Connor, Goldman Sachs and Citi Bank. 
                Manit earned a Bachelors of Commerce from Dehli University and holds a Masters in Finance from Claremont Graduate School and UC Berkeley.
              </p>
              <div class="social">
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'website/img/minneapolis/' %}" alt="">
              <h4>Clint Semm</h4>
              <span>Chief Accounting Officer</span>
              <p>
                Clint Semm has more than 27 years of experience in finance, accounting and treasury management as well as CFO/ops positions at hedge fund firms. 
                Currently, Clint is President & CEO of BLF Inc. a provider of consultative and accounting services for private investment funds, high net-worth individuals, estates and small businesses. 
                Clint currently serves as CAO of BCCM Inc. Previously, Clint served as Controller, and later as CFO, of Whitebox Advisors, LLC from 2001-2013. 
                He managed the day-to-day operations of treasury, fund accounting, corporate Accounting and office administration. 
                Prior to Whitebox, Clint was treasury manager at EBF & Associates, a Minneapolis-based hedge fund, performing daily fund margining and liquidity calculations, providing multiple foreign currency exposure data, and reporting daily cash/margin to portfolio managers. 
                His background also includes various internal audit roles and investment accounting manager at St. Paul Companies (now Traveler’s Insurance). 
                Clint obtained a B.S.B. in Accounting from the Carlson School of Management at the University of Minnesota in 1992. 
                He passed the CPA exam in 1995.
              </p>
              <div class="social">
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>
        <!--
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'website/img/minneapolis/' %}" alt="">
              <h4>Ben Peyton</h4>
              <span>Trader</span>
              <p>
              </p>
              <div class="social">
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'website/img/minneapolis/' %}" alt="">
              <h4>Prashant Joshi</h4>
              <span>Trading and Risk Analyst</span>
              <p>
              </p>
              <div class="social">
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>
        -->
        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <span>Contact Us</span>
          <h2>Contact Us</h2>
          <p>Get in touch with us</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-4">
            <div class="info-box mb-4">
              <a href="home.html" target=""><h3>Minneapolis Office</h3></a>
              <p>
                info@bccmadvisors.com
                <br>
                BCCM Advisors
                <br>
                5000 West 36th Street, Suite 200
                <br>
                St. Louis Park, MN 55416
                <br>
                +1 (612) 200-1740
                <br>
                <br>
              </p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="info-box mb-4">
              <h3>Naples Office</h3>
              <p>
                info@bccmadvisors.com
                <br>
                BCCM Advisors
                <br>
                4850 Tamiami Trail North, Suite 301
                <br>
                Naples, FL 34108
                <br>
                +1 (612) 200-1740
                <br>
                <br>
              </p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="info-box mb-4">
              <a href="africafund.html" target=""><h3>Kenya Office</h3></a>
              <p>
                info@bccmadvisors.com
                <br>
                BCCM Advisors (Kenya) Limited
                <br>
                Landmark Plaza, 13th Floor, Suite 23
                <br>
                Argwings Kodhek Road, PO Box 856 00606
                <br>
                Nairobi, Kenya
                <br>
                +254 20 3673592
                <br>
              </p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up">

          <div class="col-lg-4 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2824.2751017646415!2d-93.34454498750318!3d44.93807518219319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87f620b395d9db31%3A0xdc22ea05aee54147!2s5000%20W%2036th%20St%20%23200%2C%20Minneapolis%2C%20MN%2055416!5e0!3m2!1sen!2sus!4v1607260679867!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-4 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10272.425687994064!2d-81.81042133745372!3d26.2037856506247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88db1e159a3e959b%3A0x2b72d16c34d3fc2e!2s4850%20Tamiami%20Trail%20N%20%23301%2C%20Naples%2C%20FL%2034103!5e0!3m2!1sen!2sus!4v1607260858741!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-4 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7996165562463!2d36.80321131505572!3d-1.2947748990556285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f10c03accf0e9%3A0x1a3862bfb0782d34!2sLandmark%20Plaza%2C%20Argwings%20Kodhek%20Rd%2C%20Nairobi%2C%20Kenya!5e0!3m2!1sen!2sus!4v1607261446842!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h5>Minneapolis</h5>
              <p>
                BCCM Advisors<br>
                5000 West 36th Street, Suite 200<br>
                St. Louis Park, MN 55416, USA <br><br>
                <strong>Phone:</strong> +1 (612) 200-1740<br>
                <strong>Email:</strong> info@bccmadvisors.com <br>
              </p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="home.html">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="mn-terms.html">Terms and Privacy Notice</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2020 BCCM, Inc</strong>., an <a href="https://www.airt.net/" target="_blank">Air T, Inc.</a> company</span>. All Rights Reserved
      </div>
      
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'website/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'website/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'website/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'website/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'website/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'website/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'website/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'website/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'website/js/main.js' %}"></script>

</body>

</html>