{% load static %}

<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Small & SMID Cap Strategies</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
  
  <!-- Favicons -->
  <link href="{% static 'website/img/bccm-small-logo' %}" rel="icon">
  <link href="{% static 'website/img/bccm-small-logo' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'website/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/vendor/venobox/venobox.css' %}"  rel="stylesheet">
  <link href="{% static 'website/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/vendor/aos/aos.css' %}" rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link href="{% static 'website/css/smcap.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top ">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:contact@example.com">info@bccmadvisors.com</a>
        <i class="icofont-phone"></i>  +1 (612) 200-1740
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">The Small & SMID Cap Strategies</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="home.html">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#philosophy">Our Philosophy</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h5 style="color: aliceblue;"> There are few competitive advantages in investing, but one of those is to take a longer-term horizon than your competitors. </h5>  
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= 
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="assets/img/" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>.</h3>
            <p class="font-italic"></p>
            <p></p>
          </div>
        </div>

      </div>
    </section> End About Section -->

        <!-- ======= Our Philosophy Section ======= -->
        <section id="philosophy" class="philosophy">
          <div class="container">
            
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-2" data-aos="fade-left">
                <img src="{% static 'website/img/smcap/oldest-tree.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 order-1 order-lg-1 content" data-aos="fade-right">
                <h3>Our Investment Philosophy</h3>
                <p class="font-italic">
                  Blue Clay believes there are identifiable inefficiencies in U.S. small and mid-cap securities wherein taking a long-term horizon combined with a defined and repeatable derivative overlay, we are able to construct a highly asymmetric portfolio.
                </p>
                <br>
                <h3>Preservation of Capital</h3>
                <p>Our investments in great business models operating within the right-side of long-term trends serve as the primary source of capital preservation over the market cycle. This is supported in the short-run by risk-reward optimization through the use of single stock option, VIX Options and long index option overlays within our long / short strategy.</p>
              </div>
            </div>
    
          </div>
        </section><!-- End Our Philosophy Section -->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <span>The Team</span>
          <h2>The Team</h2>
          <p>Meet The Team</p>
        </div>

        <div class=row>
          <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'website/img/minneapolis/gary-kohler.jpg' %}" alt="">
              <h4>Gary Kohler</h4>
              <span>Chief Investment Officer and Portfolio Manager</span>
              <p>
                Gary Kohler is chiefly responsible for executing the investment strategy for BCCM Advisors’ investment portfolios. 
                Gary has more than 30 years of investment experience managing both family office and hedge fund assets. 
                Before founding Blue Clay in 2012, Gary was a Partner and Portfolio Manager at Whitebox Advisors and a Vice President and Portfolio Manager at Okabena Company. 
                In 2007, Gary has twice been recognized for outstanding performance winning the HFM Week Absolute Return Small-Cap Equity Fund of the Year in 2007 and being a finalist for the HFM US Equity Hedge Fund Performance Award in 2018. 
                Gary earned an MBA from the Johnson School at Cornell University and a BA in Psychology from the University of Minnesota.
              </p>
              <div class="social">
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'website/img/minneapolis/manit-rye.jpg' %}" alt="">
              <h4>Manit Rye</h4>
              <span>Risk Management Strategist</span>
              <p>
                Manit Rye is responsible for risk management. 
                Manit has more than 30 years’ experience in structuring and trading yield enhancement and hedging strategies on equities, interest rates, and currencies. 
                Prior to joining Air T, Inc., Manit was CIO and founder of Asymmetric Capital Management and Thomas Funds Americas LLC and was Managing Director and board member of Merrill Lynch Alternative Investments Inc., where as CO-CIO he focused on investing $10 billion in hedge funds and managed accounts. 
                Prior to Merrill, Manit held senior roles in emerging market risk management at UBS O’Connor, Goldman Sachs and Citi Bank. 
                Manit earned a Bachelors of Commerce from Dehli University and holds a Masters in Finance from Claremont Graduate School and UC Berkeley.
              </p>
              <div class="social">
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'website/img/minneapolis/' %}" alt="">
              <h4>Ben Peyton</h4>
              <span>Trader</span>
              <p> 
              </p>
              <div class="social">
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'website/img/minneapolis/' %}" alt="">
              <h4>Prashant Joshi</h4>
              <span>Trading and Risk Analyst</span>
              <p>
              </p>
              <div class="social">
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title">
            <span>Contact Us</span>
            <h2>Contact Us</h2>
            <p>Get in touch with us</p>
          </div>
  
          <div class="row" data-aos="fade-up">
            <div class="col-lg-3">
              <div class="info-box mb-4">
                <i class="bx bx-map"></i>
                <p>
                  <br>
                  <strong>Our Office</strong>
                  <br>
                  BCCM Advisors
                  <br>
                  5000 West 36th Street, Suite 200
                  <br>
                  St. Louis Park, MN 55416, USA
                  <br><br>
                  <a href="mailto:info@bccmadvisors.com">info@bccmadvisors.com</a>
                  <br>
                  <strong>Phone:</strong> +1 (612) 200-1740
                  <br>
                </p>
              </div>
            </div>
  
            <div class="col-lg-9 ">
              <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5648.537314428667!2d-93.3427731265288!3d44.93820620488582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87f620b395d9db31%3A0xdc22ea05aee54147!2s5000%20W%2036th%20St%20%23200%2C%20Minneapolis%2C%20MN%2055416!5e0!3m2!1sen!2sus!4v1607435846879!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
            </div>
          </div>
      </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <div class="social-links mt-3">
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="africafund.html">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>


        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2020 BCCM, Inc</strong>., an <a href="https://www.airt.net/" target="_blank">Air T, Inc.</a> company</span>. All Rights Reserved
      </div>
      
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'website/vendor/jquery/jquery.min.js' %}" ></script>
  <script src="{% static 'website/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'website/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'website/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'website/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'website/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'website/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'website/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'website/js/main.js' %}"></script>

</body>

</html>